__pycache__/

*.mp4
*.mkv
gc.yaml
data/**/*.csv
orientazioniReduxOutput*
data/robot_pics/*
data/GermanOpen2024Logs/*
game_history.yaml
**/error/*.txt
**/error/*.npy
**/error/*.eps

data/games/old
OLD_*.npy

WIPario_*
mario_env
data/robot_pics_out
scripts/datasets/downloads
data/Final_GO/*
hf_token.txt
runs/detect/*
training/*
api.txt
api_old.txt
to_review_cleanup/*
dati/*

output_commentary.wav
symbolic_events.jsonl
commentary_segments
data/games/Final_GO/*
data/games/*/mario_*/teams.json
data/games/*/gc_section_*/metadata.yaml

**/sumgen_output/stats.json
**/sumgen_global/*.txt